---
services:
  duplicati:
    image: lscr.io/linuxserver/duplicati:latest
    container_name: duplicati
    environment:
      - PUID=0
      - PGID=0
      - TZ=Etc/UTC
      - SETTINGS_ENCRYPTION_KEY=
      - CLI_ARGS= #optional
      - DUPLICATI__WEBSERVICE_PASSWORD=
    volumes:
      - ./config:/config
      - /mnt/backup:/backups
      - /mnt:/server-mnt
      - ./source:/source
    ports:
      - 8200:8200
    restart: unless-stopped
